<p class="notice">
	<%= notice %>
</p>
<h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers !!</h1>
<p class="in">In <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers,<br>

you can share and exchange your opinions , inpressions , and emotions<br>

about various books!</p>
<div class="Login"><%= link_to "Log in",  new_user_session_path, class: 'btn btn-default', :style => "background-color:#00bfff; border-color:#00bfff; width:100%; margin:0 auto;" %></div>
<div class="Signup "><%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-default', :style => "background-color:limegreen; border-color:limegreen; width:100%; margin:0 auto;" %></div>
