/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display:block;
	clear:both;
}

.notice {
	color: limegreen;
}

.error {
	color: red;
}



.parent {
	width:70%;
}

header {
	width: 100%;
	float: left;
	height: 60px;
	background-color: black;
}


header h1 {
	margin-left: 40px;
	display: inline-block;
	color: white;
	line-height: 30px;
}

.in {
	line-height: 30px;
}

header .links {
	float: right;
	line-height: 60px;
	list-style: none;
}

.links li {
	margin-right: 30px;
	float: left;
}

li a {
	color: gray;
}

.top-content {
	padding:50px 0 0 40px;
}

.Login {
	margin: 0 auto;
	width: 75%;
}

.Signup {
	margin: 0 auto;
	width: 75%;
}

.sample {
	padding: 30px 0 0 30px;
}

.right {
	float:right;
}

.left {
	display: inline-block;
}

.parent {
	width: 100%;
	border-top:1px solid gray;
}


.footer {
	float: right;
	padding-right: 60px;
}